@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+JP:wght@300&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
    
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap:1rem;
    background:linear-gradient(to right,
    #c3fbd2 ,
	#b1fdc6 ,
	#9cf9b5 ,
	#81ea9d );
    color: #101010;
    cursor: url(icons8-hand-50.png),auto;
    border: 1px solid black;
   

}

main{
    height: 76vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;

}

h1{font-size:250%;}

a,p{
    color:#101010;
    display: inline-block;
}

a:hover, a:focus{
    text-decoration: none;
    filter: brightness(150%);
    transform: scale(1.2);
    cursor: url(icons8-hand-50.png),auto;
}

footer p{color: #101010;}

::selection{
    color: gold;
}
