@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+JP:wght@300&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
    
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap:1rem;
    background:linear-gradient(to left top, #00adff,
	#5800ff ,	
	#00005c ,	
	#561996 ,	
	#ad19ca);
    color: whitesmoke;
   

}

main{
    height: 76vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
}

h1{font-size:250%;}

a,p{
    color:#80ff80;
    display: inline-block;
}

a:hover, a:focus{
    text-decoration: none;
    filter: brightness(150%);
    transform: scale(1.2);
}

footer p{color: whitesmoke;}

::selection{
    color: gold;
}